@font-face {
    font-family: "Emblema One";
    src: url("fonts/EmblemaOne-Regular.woff"),
         url("fonts/EmblemaOne-Regular.ttf");
} 
body {
    font-size: small;
    font-family: Verdana, Geneva, Arial, sans-serif;
}
h1, h2 {
    color: #cc6600;
    border-bottom: thin dotted #888888;
}
h1 {
    font-size: 220%;
    font-family: "Emblema One", Verdana, Geneva, Arial, sans-serif;
}
h2 {
    font-weight: normal;
    font-size: 130%;
}
blockquote {
    font-style: italic;
}
table {
    margin-left: 20px;
    margin-right: 20px;
    border: thin solid black;
    caption-side: bottom;
    border-collapse: collapse;
}
.cellcollor {
    background-color: #fcba7a;
}
td, th {
    border: thin dotted gray;
    padding: 5px;
}
caption {
    font-style: italic;
    padding-top: 8px;
}
td.td_center {
    text-align: center;
}
td.td_right {
    text-align: right;
}
th.orange {
    background-color: #cc6600;
}
li {
    list-style-image: url(images/backpack.gif);
    padding-top: 5px;
    margin-left: 20px;
}